<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- my-css -->
    <link rel="stylesheet" href="/my-css/carousel.css">

    <!-- media-querie -->
    <link rel="stylesheet" href="/media-querie/mq_carousel.css">
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item height-30 active">
                <div class="position-absolute desc-item">
                    <h5 class="ml-4 f-w-b t-d-u fs-2 cl-white">
                        Men's
                    </h5>
                    <p class="cl-black width-34 m-w-90 text-shadow-1 fs-14 pr-2">
                        Discover elegance and style for men. Trendy clothing, comfortable shoes, and unique accessories - everything you need to express your personal style. <br><br>

                        Explore now and elevate your wardrobe.
                    </p>
                    <div class="wrap">
                        <a href="/men/clothing" class="m-2 m-lg-3">
                            <button class="bg-black br-06 bx-s-10 py-2 out-n border-0 px-4 fs-12 f-w-b cl-white hover-scale-11">
                                <i class="fas fa-tshirt"></i>
                                Clothing
                            </button>
                        </a>
                        <a href="/men/shoes" class="m-2 m-lg-3">
                            <button class="bg-black br-06 bx-s-10 py-2 out-n border-0 px-4 fs-12 f-w-b fs-075 cl-white hover-scale-11">
                                <i class="fas fa-shoe-prints"></i>
                                Shoes
                            </button>
                        </a>
                        <a href="/men/accessories" class="m-2 m-lg-3">
                            <button class="bg-black br-06 bx-s-10 py-2 out-n border-0 px-4 fs-12 f-w-b fs-075 cl-white hover-scale-11">
                                <i class="fab fa-shopify"></i>
                                Accessories
                            </button>
                        </a>
                    </div>
                </div>
                <img src="/website/m1.jpg" class="d-block w-100 h-100 img_carousel">
            </div>
            <div class="carousel-item height-30">
                <div class="position-absolute desc-item">
                    <h5 class="ml-4 cl-white f-w-b t-d-u fs-2">Women's</h5>
                    <p class="cl-black width-34 m-w-90 text-shadow-1 fs-14 pr-2">
                        Discover an elegant and trendy selection for modern women. Refined dresses, comfortable shoes, and accessories that enhance your unique style.

                        <br><br> Explore now and express your style with confidence.
                    </p>
                    <div class="wrap">
                        <a href="/women/clothing" class="m-2 m-lg-3">
                            <button class="bg-orange-woman br-06 bx-s-10 py-2 out-n border-0 px-4 fs-12 f-w-b cl-white hover-scale-11">
                                <i class="fas fa-tshirt"></i>
                                Clothing
                            </button>
                        </a>
                        <a href="/women/shoes" class="m-2 m-lg-3">
                            <button class="bg-orange-woman br-06 bx-s-10 py-2 out-n border-0 px-4 fs-12 f-w-b cl-white hover-scale-11">
                                <i class="fas fa-shoe-prints"></i>
                                shoes
                            </button>
                        </a>
                        <a href="/women/accessories" class="m-2 m-lg-3">
                            <button class="bg-orange-woman br-06 bx-s-10 py-2 out-n border-0 px-4 fs-12 f-w-b cl-white hover-scale-11">
                                <i class="fab fa-shopify"></i>
                                accessories
                            </button>
                        </a>
                    </div>
                </div>
                <img class="d-block w-100 h-100 img_carousel" src="/website/m2.jpg">
            </div>
            <div class="carousel-item height-30">
                <img class="d-block w-100 h-100 img_carousel" src="/website/m12.jpg">
            </div>
            <div class="carousel-item height-30">
                <img class="d-block w-100 h-100 img_carousel" src="/website/m18.png">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
          <span aria-hidden="true">
            <i class="fas fa-angle-double-left" style="font-size: 1.5rem; color: black !important;"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span aria-hidden="true">
            <i class="fas fa-angle-double-right cl-black" style="font-size: 1.5rem; color: black !important;""></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</body>
</html>

