<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- my-css -->
    <link rel="stylesheet" href="/my-css/service.css">
</head>
<body>
    <div style="margin-bottom: 5rem;">
        <hr class="mx-3 mx-lg-5 bg-secondary op-02" style="height: 1px;">
        <div class="center py-5">
            <div class="column-center m-3 m-lg-4 bx-s-10 br-07 height-10 width-16 m-w-90 bg-primary">
                <i class="fas fa-people-arrows service_icon mb-3 text-shadow-1 text-white"></i>
                <p class="text-white f-w-b fs-08 ls-04">
                    PAYMENT AFTER SATISFACTION
                </p>
            </div>
            <div class="column-center m-3 m-lg-4 bx-s-10 br-07 height-10 width-16 m-w-90 bg-black">
                <i class="service_icon mb-3 fas fa-motorcycle text-shadow-1 text-white"></i>
                <p class="text-white f-w-b fs-08 ls-04">
                    QUICK DELIVERY
                </p>
            </div>
            <div class="column-center m-3 m-lg-4 bx-s-10 br-07 height-10 width-16 m-w-90 bg-chocolated">
                <i class="service_icon mb-3 fas fa-clock text-shadow-1 text-white"></i>
                <p class="text-white f-w-b fs-08 ls-04">
                    7j/7, 24h/24 OUR SUPPORT
                </p>
            </div>
            <div class="column-center m-3 m-lg-4 bx-s-10 br-07 height-10 width-16 m-w-90 bg-orangered">
                <i class="service_icon mb-3 fas fa-people-arrows text-shadow-1 text-white"></i>
                <p class="text-white f-w-b fs-08 ls-04">
                    READY TO WEAR
                </p>
            </div>
            <div class="column-center m-3 m-lg-4 bx-s-10 br-07 height-10 width-16 m-w-90 bg-primary">
                <i class="fas fa-coins service_icon mb-3 text-shadow-1 text-white"></i>
                <p class="text-white f-w-b fs-08 ls-04">
                    POSSIBILITY OF REDUCTION
                </p>
            </div>
        </div>
    </div>
</body>
</html>